

body {
	background-image: url("../img/balloonicorn.com.background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

}

th {
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
}

.mainChatTable {
	width: 80%;
	border: 2px solid black;
}

#messageHistory {
	color: blue;
	font-weight: bold;
}