

th {
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
}

h3 {
	color: grey;
	text-align: center;
}

/* Body tags, generally setting backgrounds */

.chatBody {
	background-image: url("../img/balloonicorn.com.background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.pingBody {	
	background-size: cover;
	background-image: url("../img/lalalalalaIloveunicorns.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

.healthcheckBody {
	background-size: cover;
	background-image: url("../img/pyroland_background.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

.mainChatTable {
	width: 80%;
	border: none /*2px solid black*/;
	background: rgba(255,255,255,0.55);
	border-radius: 15px 100px 40px 5px;
	margin-left: auto;
	margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px;
    word-break: break-word;
}

.mainChatInput {
	width: 80%;
}

.messageAuthor {
	color: #38807D;
	font-weight: bold;
}

.messageData {
	color: #0077B3;
	font-weight: bold;
}


.mainUserTable {
	border: none /*2px solid black*/;
	background: rgba(255,255,255,0.55);
    word-break: break-word;
}

/* Healthcheck classes */

.infoTable {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border: 2px solid grey;
	background: rgba(255,255,255,0.5);
	/*border-radius: 15px 100px 40px 5px;*/
	padding: 15px;
    border-collapse: separate;
    border-spacing: 10px;
}

.infoAttr {
	font-weight: bold;
	color: grey;
}

.infoAttrValue {
	color: grey;
}

#messageHistory {
/*	color: #295d5b;
	font-weight: bold;*/
}

#footer {
	text-align: right;
	padding: 30px;
}
















