/* Overridden standard tags */

h1 {
	color: #0077B3;
	text-align: center;
    font-family: 'Play', sans-serif;
}

h2 {
	color: grey;
	text-align: center;
    font-family: 'Play', sans-serif;
}

h3 {
	color: grey;
	text-align: center;
    font-family: 'Play', sans-serif;
}

/* Tables */

th {
    font-family: 'Play', sans-serif;
    font-weight: normal;
}

td:not(:last-child) {
    word-break: break-word;
    white-space: nowrap;
}

td:last-child{
    width: 100%;
}

/* Body tags, generally setting backgrounds */


/* Font options from Goog fonts
font-family: 'Ubuntu', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Play', sans-serif;
font-family: 'Exo', sans-serif;
*/
.chatBody {
	background-image: url("../img/balloonicorn.com.background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.pingBody {	
	background-size: cover;
	background-image: url("../img/lalalalalaIloveunicorns.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

.healthcheckBody {
	background-size: cover;
	background-image: url("../img/pyroland_background.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

/* Main chat page */
.message_typing_row {
	/*background-color: yellow;*/
	margin-left: auto;
	margin-right: auto;
}


.mainChatTable {
	width: 100%;
	border: none /*2px solid black*/;
	background: rgba(255,255,255,0.55);
	border-radius: 15px 100px 40px 5px;
	margin-left: auto;
	margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px;
    word-break: break-word;
}

.mainChatTable:not(:last-child) {
    word-break: break-word;
    white-space: nowrap;
}

.mainChatTable:last-child{
    width: 100%;
}

.mainChatInput {
	width: 65%;
	height: 30px;
	background-color: white; /*#0077B3;*/
    transition: ease-in-out, height .25s ease-in-out;
	margin-left: 10%;
	margin-right: 0;
	color: grey;
}

.mainChatInput:focus {
    width: 75%;
    height: 40px;
	border-color: rgba(126, 239, 104, 0.6);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(126, 239, 104, 0.4);
	outline: 0 none;
	font-family: 'Bitter', sans-serif;
}

.mainChatSubmitBtn {
	align-self: right;
	margin-left: 5%;
	margin-right: 0;
}

.messageDate {
	color: grey;
}

.messageAuthor {
	color: #38807D;
	font-weight: bold;
	white-space: nowrap;
}

.messageData {
	color: #0077B3;
}

.mainUserTable {
	width: 80%;
	border: none /*2px solid black*/;
	background: rgba(255,255,255,0.55);
    word-break: break-word;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

.userName {
	font-family: 'Exo', sans-serif;	
	color: #0077B3;
}

/* Healthcheck classes */

.infoTable {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border: 2px solid grey;
	background: rgba(255,255,255,0.5);
	/*border-radius: 15px 100px 40px 5px;*/
	padding: 15px;
    border-collapse: separate;
    border-spacing: 10px;
}

.infoAttr {
	font-weight: bold;
	color: grey;
}

.infoAttrValue {
	color: grey;
}

#messageHistory {
	font-family: 'Bitter', sans-serif;
	padding: 5px;
}

#footer {
	text-align: right;
	padding: 30px;
}
















