<!doctype html>
<html>
<head>
  <title> Chatty : {% block title %} TITLE HERE {% endblock %}</title>
  <!-- Load JQuery -->
  <script type="text/javascript"
        src="http://code.jquery.com/jquery.js"></script>
  <!-- Load Bootstrap -->
  <link rel="stylesheet" 
        type='text/css'
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
  <script type="text/javascript"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Load Google Fonts -->
<!--   <link href='https://fonts.googleapis.com/css?family=Lobster' 
        rel='stylesheet' 
        type='text/css'> -->
  <!-- Load my custom CSS -->
  <link rel="stylesheet"
        type="text/css"
        href="/static/css/chatty.css"> 

</head>
{% block body %}<body>{% endblock %}
<div class="container">
  <h1 align="center">
    <a href="/">Balloonicorn's Land of Milk and Honey</a>
  </h1>
  {% for msg in get_flashed_messages() %}
    <div class="alert alert-info">{{ msg }}</div>
  {% endfor %}

  {% block content %}CONTENT HERE{% endblock %}
</div>

<!-- Sticky footer -->
    <footer class="footer" id="footer">
      <div class="container">
        <p class="text-muted">&copy; 2016 Balloonicorn.net</p>
      </div>
    </footer>

<!-- <script type="text/javascript" src="../static/js/chatty.js"></script> -->
</body>
</html>