{% extends 'base.html' %}

{% block title %} Monitoring healthcheck {% endblock %}


{% block body %}<body class="healthcheckBody">{% endblock %}


{% block content %}
<table class="infoTable">
    <thead>
        <tr>
            <td colspan="100%"><h2>Monitoring healthcheck for chat room microservice</h2></td>
        </tr>
    </thead>
    <tr>
        <td><span class='infoAttr'>number_of_rooms</span></td>
        <td><span class='infoAttrValue'> {{ num_rooms }}</span></td>
    </tr>
    <tr>
        <td><span class='infoAttr'>number_of_users</span></td>
        <td><span class='infoAttrValue'> {{ num_users }}</span></td>
    </tr>
    <tr>
        <td><span class='infoAttr'>app</span></td>
        <td><span class='infoAttrValue'> {{ app_name }}</span></td>
    </tr>
    <tr>
        <td><span class='infoAttr'>database</span></td>
        <td><span class='infoAttrValue'> {{ app_db }}</span></td>
    </tr>
    <tr>
        <td><span class='infoAttr'>location_on_server&nbsp;</span></td>
        <td><span class='infoAttrValue'> {{ app_location }}</span></td>
    </tr>
    <tr>
        <td><span class='infoAttr'>extensions</span></td>
        <td><span class='infoAttrValue'> {{ app_extensions }}</span></td>
    </tr>
    <tr>
        <td><span class='infoAttr'>url_map</span></td>
        <td><span class='infoAttrValue'> {{ app_endpoints }}</span></td>
    </tr>
    <tr>
        <td><span class='infoAttr'>&nbsp;</span></td>
    </tr>
</table>
<br>
<br>
<br>
<br>
<br>
{% endblock %}