{% extends 'base.html' %}

{% block title %} It's a Party! {% endblock %}

{% block content %}
 <!-- Load my custom javascript -->
<script type="text/javascript" src="/static/js/chatty.js"></script>

<table class="mainChatTable">
	<thead>
		<tr>
			<td><h3>Chat room</h3></td>
		</tr>
	</thead>
	<tr>
		<td id="messageHistory">Live long and be chatty!</td>
	</tr>
	<tr>
		<td class="message_typing_row">
			<input type="text" 
					name="message_typing_box" 
					id="message_typing_box" 
					autofocus="True" 
					maxlength="2040"
					placeholder="Enter your message" />
			<button id="message_typing_submit" class="btn btn-primary">Say it</button>
		</td>
	</tr>
</table>


{% endblock %}